Appium-Python-Client
Babel
Baker
GitPython
PyMySQL
PyNaCl
PyYAML
ansible
awscli
azure
boto
boto3
certifi
chardet
cryptography
datadog
decorator
dnspython
docker
enum34
gevent
google-api-python-client
gstatsd
gsutil
hiredis
linode-python
pip-tools
protobuf
psutil
psycopg2-binary
py
pytest
pytest-rerunfailures
python-debian
pytz
redis
requests
selenium
simplejson
subprocess32
supervisor
supervisor-wildcards
