ansible==2.0.2.0
Appium-Python-Client
awscli
azure
Babel
Baker
boto
boto3
certifi
cryptography
datadog
decorator
dnspython
docker
gevent
GitPython
google-api-python-client
gstatsd
gsutil
hiredis
linode-python
pip-tools
protobuf
psutil
psycopg2-binary
PyMySQL
PyNaCl
pytz
PyYAML
redis
requests
simplejson
supervisor
