Appium-Python-Client
Babel
Baker
GitPython
PyMySQL
PyNaCl
PyYAML
ansible==2.0.2.0
awscli
azure
boto
boto3
certifi
chardet
cryptography
datadog
decorator
dnspython
docker
gevent
google-api-python-client
gstatsd
gsutil
hiredis
linode-python
pip-tools
protobuf
psutil
psycopg2-binary
python-debian
pytz
redis
requests
simplejson
supervisor
